# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# IDE configurations (?? ?? ??)
.vscode/
.idea/

# Files created by Python's packaging tools
*.egg-info/
dist/
build/
*.log


# .env file for environment variables
.env
